.register-form {
 margin-left: 19%;
 margin-right: 19%;
 /* align-content: center; */
}

.individual-field {
 display: flex;
 flex-direction: row;
 /* border: 0px; */
 align-items: center;
}

.register-body {
 /* display: flex;
  align-items: center; */

}

.cont {
 background-color: aqua;
 /* display: block; */
 /* align-items: center; */
}


fieldset input {
 width: 200px;
 height: 28px;
 border: 1.5px solid #E17829;
 border-radius: 3px;
 margin-bottom: 20px;
}

.label-text {
 display: inline-block;
 width: 140px;
 height: 45;
 font-family: 'Arial';
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 28px;
 text-align: center;
 border: green solid 2px;
}

@media screen and (max-width: 615px) {
 .individual-field {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  /* margin-left: 30%; */
  /* margin-right: 25%;  */
 }

 .inner-fieldset {
  display: flex;
  flex-direction: column;

 }
}

.submitbtn {
 width: 210px;
 height: 35px;
 text-align: center;
 font-weight: bold;
 font-size: 16px;
 background: #E17829;
 color: white;
 border-radius: 2px;
 border: #E17829;
 /* align-items: center; */
 align-content: center;
}

.submitbtn-div,
.cont {
 align-items: center;
 /* text-align: center; */
 /* margin-left: 25%; */
}

#required {
 color: #E17829;
}

@media screen and (max-width: 745px) {

 fieldset label {
  width: 170px;
  text-align: center;

 }

 .submitbtn {
  width: 170px;
 }

 .submitbtn-div {
  /* margin-left: 20%; */
 }
}

@media screen and (max-width: 686px) {}

.register-body {
 min-width: 100%;
 background-color: #EFEEEE;
 min-height: 100vh;
 font-family: 'Arial';
 font-style: normal;
}

@media screen and (min-width: 1224px) {
 .submitbtn-div {
  margin-left: 35%;
 }
}

fieldset label:nth-of-type(1) {
 margin-right: 5%;

}